<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Editar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Código</ion-label>
    <ion-input [(ngModel)]="item.code" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Categoría</ion-label>
    <ion-input [(ngModel)]="item.category" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>
</ion-content>
